#container-margin {
  margin-bottom: 80px;
}

body {
  background-image: url("../images/dog-background.png");
  background-repeat: repeat;
}

#card {
 background-color: rgba(255,255,255, .9);
}

#card-head {
  background-color: rgb(63, 194, 118);
}

.jumbotron {
  padding: 20px 0;
}